<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsDynamicsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MsDynamicsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MsDynamicsTest.Properties.Settings>
            <setting name="MsDynamicsTest_MsNav_Customer_Service" serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/Customer</value>
            </setting>
            <setting name="MsDynamicsTest_CompanyInfo_CompanyInfo_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/CompanyInfo</value>
            </setting>
            <setting name="MsDynamicsTest_Currencies_Currencies_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/Currencies</value>
            </setting>
            <setting name="MsDynamicsTest_Languages_Languages_Service" serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/Languages</value>
            </setting>
            <setting name="MsDynamicsTest_CustomerLists_CustomerList_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/CustomerList</value>
            </setting>
            <setting name="MsDynamicsTest_LocationLists_LocationList_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/LocationList</value>
            </setting>
            <setting name="MsDynamicsTest_ItemLists_ItemList_Service" serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/ItemList</value>
            </setting>
            <setting name="MsDynamicsTest_Boms_Bom_Service" serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/Bom</value>
            </setting>
            <setting name="MsDynamicsTest_PurchaseOrders_PurchaseOrder_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/PurchaseOrder</value>
            </setting>
            <setting name="MsDynamicsTest_Areass_Areas_Service" serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/Areas</value>
            </setting>
            <setting name="MsDynamicsTest_PurchaseLists_PurchaseList_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/PurchaseList</value>
            </setting>
            <setting name="MsDynamicsTest_InventoryPickss_InventoryPicks_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryPicks</value>
            </setting>
            <setting name="MsDynamicsTest_InvPostingGroups_InventoryPostingGroups_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryPostingGroups</value>
            </setting>
            <setting name="MsDynamicsTest_PhysInvLedgerEntries_PhysInventoryLedgerEntries_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/PhysInventoryLedgerEntries</value>
            </setting>
            <setting name="MsDynamicsTest_PhysInvJournal_PhysInventoryJournal_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/PhysInventoryJournal</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInvSetup_InventorySetup_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventorySetup</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavReportSelectionInv_ReportSelectionInventory_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/ReportSelectionInventory</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryPostingSetup_InventoryPostingSetup_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryPostingSetup</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryPeriods_InventoryPeriods_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryPeriods</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryPeriodEntries_InventoryPeriodEntries_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryPeriodEntries</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryGLReconciliation_InventoryGLReconciliation_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryGLReconciliation</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryReportEntry_InventoryReportEntry_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryReportEntry</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryAnalysisLines_InventoryAnalysisLines_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryAnalysisLines</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryAnalysisReport_InventoryAnalysisReport_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryAnalysisReport</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryPutAway_InventoryPutAway_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryPutAway</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryAnalysisMatrix_InventoryAnalysisMatrix_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryAnalysisMatrix</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavInventoryGLReconciliation2_InventoryGLReconciliation2_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/InventoryGLReconciliation2</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavAnalysisViewListInventory_AnalysisViewListInventory_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/AnalysisViewListInventory</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavAnalysisReportInventory_AnalysisReportInventory_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/AnalysisReportInventory</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavVendorList_VendorList_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/VendorList</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavVendorCard_VendorCard_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/VendorCard</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavCustomerPriceGroups_CustomerPriceGroups_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/CustomerPriceGroups</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavUsers_Users_Service" serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/Users</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavJobCard_JobCard_Service" serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/JobCard</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavItemCard_ItemCard_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/ItemCard</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavSalesOrder_SalesOrder_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/SalesOrder</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavBlanketSalesOrder_BlanketSalesOrder_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/BlanketSalesOrder</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavGeneralLedgerEntries_GeneralLedgerEntries_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/GeneralLedgerEntries</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavCustomerLedgerEntries_CustomerLedgerEntries_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/CustomerLedgerEntries</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavVendorLedgerEntries_VendorLedgerEntries_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/VendorLedgerEntries</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavItemLedgerEntries_ItemLedgerEntries_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/ItemLedgerEntries</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavSalesList_SalesList_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/SalesList</value>
            </setting>
            <setting name="MsDynamicsTest_MsNavSalesLines_SalesLines_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/SalesLines</value>
            </setting>
            <setting name="MsDynamicsTest_MsProdOrderLineList_ProdOrderLineList_Service"
                serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd/Page/ProdOrderLineList</value>
            </setting>
        </MsDynamicsTest.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MsDynamicsTest.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://workpc:7047/DynamicsNAV/WS/CRONUS%20International%20Ltd</value>
            </setting>
            <setting name="ApiLogin" serializeAs="String">
                <value>ruslan</value>
            </setting>
            <setting name="ApiPassword" serializeAs="String">
                <value>dev1234</value>
            </setting>
        </MsDynamicsTest.Properties.Settings>
    </userSettings>
</configuration>